/* changed margins from pixel to rem across the document*/

html {
  font-family: 'Times New Roman', Times, serif;
  font-size: 62.5%;
}

p, ul, ol, dl {
  font-size: 1.6rem;
  line-height: 1.8rem;
  margin-bottom: 1.2rem;
}

h1, h2 , h3, h4, h5, h6 {
  font-family: Tahoma, Arial, sans-serif;
}

h1 {
  font-size: 2.7rem;
  line-height: 3.1rem;
  margin: 2rem 0;
}

h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin: 1.6rem 0;
}

h3 {
  font-size: 1.75rem;
  margin: 2.5rem 0 .8rem 0;
}

article {
  max-width: 62rem;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-left: auto;
}

.byline {
  font-family: Tahoma, Arial, sans-serif;
}

dl {
  border-bottom: .1rem grey dotted;
  border-top: .1rem grey dotted;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1.4rem;
  padding: 1.2rem 0rem;
  margin-top: 1.6rem;
}

dt {
  float: left;
  margin-right: .5rem;
  font-weight: bold;
}

div#head-section {
  float: left;
  width: 48%;
}

figure#main-recipe-photo {
  float: right;
  width: 48%;
}

figure#main-recipe-photo img {
  width: 100%;
  margin-top: 2rem;
}

figcaption {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1.2rem;
  margin-top: .2rem;
  margin-bottom: 2rem;
}

.intro {
  margin-bottom: 2rem;
  clear: both;
}

ul {
  list-style-position: inside;
  list-style-type: square;
}

ol {
  list-style-position: inside;
}

ol li {
  margin-top: .8rem;
}

#nutrition li {
  list-style-type: none;
  border-bottom: gray dotted .1rem;
  float: left;
  width: 48%;
}

#nutrition li:nth-child(odd) {
  background-color: red;
}

footer {
  clear: both;
  text-align: center;
  margin-top: 14rem;
}

footer p{
  font: 1.2rem Arial;
}
